@media screen and (max-width:440px) {
	.score-panel {
		font-size: 15px;
		width:250px;
		padding: 0 0 15px 0;
	}
	.deck {
		min-height:300px;
		width:300px;
	}
	.deck .card {
		width:50px;
		height:50px;
				
	}
}
@media screen and (min-width:441px) and (max-width:580px) {
	.score-panel {
		font-size:18px;
		width:400px;
		padding: 0 0 15px 0;
	}
	.deck {
		min-height:400px;
		width:400px;
	}
	.deck .card {
		width:75px;
		height:75px;
				
	}
}
@media screen and (min-width:581px) and (max-width:700px) {
	.score-panel {
		font-size:20px;
		width: 450px;
		padding: 0 0 5px 0;
	}
	.deck {
		min-height:550px;
		width:550px;
	}
	.deck .card {
		width:100px;
		height:100px;
				
	}
}
@media screen and (min-width:701px) {
	.score-panel {
		font-size:18px;
		width: 600px;
		padding: 0 0 5px 0;
	}
	.deck {
		min-height:580px;
		width:550px;
	}
	.deck .card {
		width:110px;
		height:110px;
				
	}
}